body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	padding-left: 100px;
	padding-right: 100px;
	
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 0px 0px;
	width: 111%;
	
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 0px;
	height: 50px;
	width: 111%;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

section {
	clear: both;
	display: block;
	width: 110%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
	list-style: none;
	
}
#star  {
	width: 20%;
}
.price {
	color: #a52a2a;
	font-size: 20px;
}
#listToy {
	width: 100%;
	
}
th {
	text-align: left;
	width: 95px;
	
}
#main-content-table {
	width: 100%;
}
#star-rating {
	width: 100%;
}
.grey-background {
	background-color: gray;
}
table, th, td {
	border-collapse: collapse;
}
#detail-image {
	display: flex;
}
#main-content-detail {
	display: flex-box;
	text-align: left;
	padding-left: 30px;
	margin: 0px
}
#description {
	font-size: 20px;
	padding-left: 0 px;
	text-align: left;
	
}
#toy {
	width: 100%;
}
#main-content {
	
	
	
	
}